
<body>
    <div>
        <div data-tw-backdrop="" aria-hidden="true" tabindex="-1" id="theme-switcher" class="modal group bg-gradient-to-b from-theme-1/50 via-theme-2/50 to-black/50 transition-[visibility,opacity] w-screen h-screen fixed left-0 top-0 [&:not(.show)]:duration-[0s,0.2s] [&:not(.show)]:delay-[0.2s,0s] [&:not(.show)]:invisible [&:not(.show)]:opacity-0 [&.show]:visible [&.show]:opacity-100 [&.show]:duration-[0s,0.4s]">
            <div data-tw-merge="" class="ml-auto h-screen flex flex-col bg-white relative shadow-md transition-[margin-right] duration-[0.6s] -mr-[100%] group-[.show]:mr-0 dark:bg-darkmode-600 sm:w-[460px] w-72 rounded-[0.75rem_0_0_0.75rem/1.1rem_0_0_1.1rem]"><a class="absolute inset-y-0 left-0 right-auto my-auto -ml-[60px] flex h-8 w-8 items-center justify-center rounded-full border border-white/90 bg-white/5 text-white/90 transition-all hover:rotate-180 hover:scale-105 hover:bg-white/10 focus:outline-none sm:-ml-[105px] sm:h-14 sm:w-14" data-tw-dismiss="modal" href="javascript:;">
                    <i data-tw-merge="" data-lucide="x" class="stroke-[1] h-3 w-3 sm:h-8 sm:w-8"></i>
                </a>
                <div data-tw-merge="" class="overflow-y-auto flex-1 p-0">
                    <div class="flex flex-col">
                        <div class="px-8 pb-8 pt-6">
                            <div class="text-base font-medium">Templates</div>
                            <div class="mt-0.5 text-slate-500">Choose your templates</div>
                            <div class="mt-5 grid grid-cols-2 gap-x-5 gap-y-3.5">
                                <div>
                                    <a href="waveform-dashboard-overview-1.html" class="h-28 cursor-pointer bg-slate-50 box p-1 block">
                                        <div class="h-full w-full overflow-hidden rounded-md">
                                            <img class="h-full w-full" src="/admin/images/themes/waveform.png" alt="Rocketman - Admin Dashboard Template">
                                        </div>
                                    </a>
                                    <div class="mt-2.5 text-center text-xs capitalize">
                                        waveform
                                    </div>
                                </div>
                                <div>
                                    <a href="lucent-dashboard-overview-1.html" class="h-28 cursor-pointer bg-slate-50 box p-1 block border-2 border-theme-1/60">
                                        <div class="h-full w-full overflow-hidden rounded-md">
                                            <img class="h-full w-full" src="/admin/images/themes/lucent.png" alt="Rocketman - Admin Dashboard Template">
                                        </div>
                                    </a>
                                    <div class="mt-2.5 text-center text-xs capitalize">
                                        lucent
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="border-b border-dashed"></div>
                        <div class="px-8 pb-8 pt-6">
                            <div class="text-base font-medium">Color Schemes</div>
                            <div class="mt-0.5 text-slate-500">
                                Choose your color schemes
                            </div>
                            <div class="mt-5 grid grid-cols-2 gap-x-4 gap-y-3.5 sm:grid-cols-4">
                                <div>
                                    <a data-theme-color="default" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 default"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 default"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-1" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-1"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-1"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-2" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-2"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-2"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-3" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-3"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-3"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-4" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-4"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-4"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-5" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-5"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-5"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-6" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-6"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-6"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-7" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-7"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-7"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-8" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-8"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-8"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-9" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-9"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-9"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-10" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-10"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-10"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-11" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-11"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-11"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-12" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-12"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-12"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-13" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-13"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-13"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-14" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-14"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-14"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-15" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-15"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-15"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-16" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-16"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-16"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div>
                                    <a data-theme-color="theme-17" class="h-12 cursor-pointer bg-slate-50 box rounded-full p-1 border-slate-300/80 block [&.active]:border-2 [&.active]:border-theme-1/60">
                                        <div class="h-full overflow-hidden rounded-full">
                                            <div class="-mx-2 flex h-full items-center gap-1">
                                                <div class="w-1/2 h-[140%] bg-theme-1 rotate-12 theme-17"></div>
                                                <div class="w-1/2 h-[140%] bg-theme-2 rotate-12 theme-17"></div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed bottom-0 right-0 z-50 mb-5 mr-5 flex h-14 w-14 cursor-pointer items-center justify-center rounded-full bg-theme-1 text-white shadow-lg" data-tw-toggle="modal" data-tw-target="#theme-switcher">
            <i data-tw-merge="" data-lucide="settings" class="stroke-[1] w-5 h-5 animate-spin"></i>
        </div>
    </div>
    <div class="lucent before:content-[''] before:z-[-1] before:h-screen before:w-screen before:bg-lucent before:bg-cover before:top-0 before:fixed after:content-[''] after:z-[-1] after:h-screen after:w-screen after:bg-gradient-to-b after:from-theme-1 after:to-theme-2/50 after:top-0 after:fixed">
        <div class="h-screen relative loading-page loading-page--before-hide [&.loading-page--before-hide]:before:block [&.loading-page--hide]:before:opacity-0 before:content-[''] before:transition-opacity before:duration-300 before:hidden before:h-screen before:w-screen before:fixed before:bg-gradient-to-b before:from-theme-1 before:to-theme-2 before:z-[60] [&.loading-page--before-hide]:after:block [&.loading-page--hide]:after:opacity-0 after:content-[''] after:transition-opacity after:duration-300 after:hidden after:h-16 after:w-16 after:animate-pulse after:fixed after:opacity-50 after:inset-0 after:m-auto after:bg-loading-puff after:bg-cover after:z-[61]">
            <div class="absolute inset-0 xl:inset-5 flex after:absolute after:inset-0 after:rounded-xl after:bg-gradient-to-b after:from-white/10 after:to-white/20 after:backdrop-blur-xl after:content-['']">
                <div class="xl:ml-0 shadow-xl transition-[margin] duration-300 xl:shadow-none z-50 absolute inset-y-0 left-0 side-menu group after:content-[''] after:fixed after:inset-0 after:bg-black/80 after:xl:hidden side-menu--collapsed [&.side-menu--mobile-menu-open]:ml-0 [&.side-menu--mobile-menu-open]:after:block -ml-[275px] after:hidden">
                    <div class="close-mobile-menu fixed ml-[275px] w-10 h-10 items-center justify-center xl:hidden z-50 [&.close-mobile-menu--mobile-menu-open]:flex hidden">
                        <a class="ml-5 mt-5" href="#">
                            <i data-tw-merge="" data-lucide="x" class="stroke-[1] h-8 w-8 text-white"></i>
                        </a>
                    </div>
                    <%- include("partials/leftside.ejs") %>
                    <%- include("partials/header.ejs") %>
                </div>
                <div class="content relative transition-[margin,width] duration-100 w-full after:absolute after:inset-0 after:bg-slate-100 after:content-[''] after:xl:rounded-xl after:z-10 content--compact xl:ml-[275px] [&.content--compact]:xl:ml-[91px]">
                    <div class="scrollable-ref z-20 h-full w-full overflow-y-auto px-5 pb-5 pt-[90px] [&_.simplebar-content]:p-0 [&_.simplebar-track.simplebar-vertical]:w-[10px] [&_.simplebar-track.simplebar-vertical]:mr-0.5 [&_.simplebar-track.simplebar-vertical_.simplebar-scrollbar]:before:bg-slate-600/30">
                        <div class="relative z-20">
                            <div class="-mb-5 -mt-px grid grid-cols-12 gap-6">
                                <div class="col-span-12 2xl:col-span-9">
                                    <div class="grid grid-cols-12 gap-6 pb-6">
                                        <!-- BEGIN: General Report -->
                                        <div class="col-span-12 mt-6">
                                            <div class="intro-y block h-10 items-center sm:flex">
                                                <h2 class="mr-5 truncate text-lg font-medium">General Report</h2>
                                                <div class="relative mt-3 text-slate-500 sm:ml-auto sm:mt-0">
                                                    <i data-tw-merge="" data-lucide="calendar" class="stroke-[1] absolute inset-y-0 left-0 z-10 my-auto ml-3 h-4 w-4"></i>
                                                    <input data-tw-merge="" type="text" class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 [&[type='file']]:border file:mr-4 file:py-2 file:px-4 file:rounded-l-md file:border-0 file:border-r-[1px] file:border-slate-100/10 file:text-sm file:font-semibold file:bg-slate-100 file:text-slate-500/70 hover:file:bg-200 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 datepicker box pl-10 sm:w-56">
                                                </div>
                                            </div>
                                            <div class="intro-y mt-12 sm:mt-4">
                                                <div class="box box--stacked grid grid-cols-12 gap-0 divide-x divide-y divide-dashed divide-slate-200 py-0 dark:divide-white/5 xl:divide-y-0 xl:py-5">
                                                    <div class="relative col-span-12 px-5 py-5 sm:col-span-6 xl:col-span-3 xl:py-0 [&:not(:last-child)]:xl:before:content-[''] [&:not(:last-child)]:xl:before:w-[13px] [&:not(:last-child)]:xl:before:h-[12px] [&:not(:last-child)]:xl:before:absolute [&:not(:last-child)]:xl:before:rounded-full [&:not(:last-child)]:xl:before:bg-slate-200 [&:not(:last-child)]:xl:before:top-0 [&:not(:last-child)]:xl:before:right-0 [&:not(:last-child)]:xl:before:-mr-[7px] [&:not(:last-child)]:xl:before:-mt-[25px] [&:not(:last-child)]:xl:before:dark:bg-darkmode-500 [&:not(:last-child)]:xl:after:content-[''] [&:not(:last-child)]:xl:after:w-[11px] [&:not(:last-child)]:xl:after:h-[14px] [&:not(:last-child)]:xl:after:absolute [&:not(:last-child)]:xl:after:rounded-full [&:not(:last-child)]:xl:after:bg-slate-100 [&:not(:last-child)]:xl:after:top-0 [&:not(:last-child)]:xl:after:right-0 [&:not(:last-child)]:xl:after:-mr-[6px] [&:not(:last-child)]:xl:after:-mt-[28px] [&:not(:last-child)]:xl:after:dark:bg-darkmode-700 [&:not(:last-child)&gt;div]:xl:before:content-[''] [&:not(:last-child)&gt;div]:xl:before:w-[13px] [&:not(:last-child)&gt;div]:xl:before:h-[12px] [&:not(:last-child)&gt;div]:xl:before:absolute [&:not(:last-child)&gt;div]:xl:before:rounded-full [&:not(:last-child)&gt;div]:xl:before:bg-slate-200 [&:not(:last-child)&gt;div]:xl:before:bottom-0 [&:not(:last-child)&gt;div]:xl:before:right-0 [&:not(:last-child)&gt;div]:xl:before:-mr-[7px] [&:not(:last-child)&gt;div]:xl:before:-mb-[25px] [&:not(:last-child)&gt;div]:xl:before:dark:bg-darkmode-700/60 [&:not(:last-child)&gt;div]:xl:after:content-[''] [&:not(:last-child)&gt;div]:xl:after:w-[11px] [&:not(:last-child)&gt;div]:xl:after:h-[14px] [&:not(:last-child)&gt;div]:xl:after:absolute [&:not(:last-child)&gt;div]:xl:after:rounded-full [&:not(:last-child)&gt;div]:xl:after:bg-slate-50 [&:not(:last-child)&gt;div]:xl:after:bottom-0 [&:not(:last-child)&gt;div]:xl:after:right-0 [&:not(:last-child)&gt;div]:xl:after:-mr-[6px] [&:not(:last-child)&gt;div]:xl:after:-mb-[28px] [&:not(:last-child)&gt;div]:xl:after:dark:bg-darkmode-600">
                                                        <div>
                                                            <div class="flex">
                                                                <div class="flex h-[2.2rem] w-[2.2rem] items-center justify-center rounded-full border border-theme-1/20 bg-theme-1/20 text-theme-1">
                                                                    <i data-tw-merge="" data-lucide="pie-chart" class="stroke-[1] w-5 h-5"></i>
                                                                </div>
                                                                <div class="ml-auto">
                                                                    <% const percentRevenue= 100*(generalReport[0].total_revenue - generalReport[1].total_revenue)/generalReport[1].total_revenue
                                                                      const percentCost = ((generalReport[0].total_cost - generalReport[1].total_cost) / generalReport[1].total_cost) * 100;
                                                                    const percentOrder = ((generalReport[0].total_orders - generalReport[1].total_orders) / generalReport[1].total_orders) * 100; 
                                                                     const percentProfit = ((generalReport[0].total_profit - generalReport[1].total_profit) / generalReport[1].total_profit) * 100; 
                                                                    %>
                                                                    <% if(percentRevenue >=0) { %>
                                                                    <span data-placement="top" title="<%=percentRevenue.toFixed(2)%>% Higher than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentRevenue.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>
                                                                    <% }else {%>
                                                                     <span data-placement="top" title="<%=percentRevenue.toFixed(2)%>% Lower than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentRevenue.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-down" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>   
                                                                     <%   } %>
                                                                </div>
                                                            </div>
                                                            <div class="mt-6 text-2xl font-medium leading-7">$<%= generalReport[0].total_revenue.toFixed(2) %></div>
                                                            <div class="mt-1 text-slate-500">Total Revenue</div>
                                                        </div>
                                                    </div>
                                                    <div class="relative col-span-12 px-5 py-5 sm:col-span-6 sm:!border-t-0 xl:col-span-3 xl:py-0 [&:not(:last-child)]:xl:before:content-[''] [&:not(:last-child)]:xl:before:w-[13px] [&:not(:last-child)]:xl:before:h-[12px] [&:not(:last-child)]:xl:before:absolute [&:not(:last-child)]:xl:before:rounded-full [&:not(:last-child)]:xl:before:bg-slate-200 [&:not(:last-child)]:xl:before:top-0 [&:not(:last-child)]:xl:before:right-0 [&:not(:last-child)]:xl:before:-mr-[7px] [&:not(:last-child)]:xl:before:-mt-[25px] [&:not(:last-child)]:xl:before:dark:bg-darkmode-500 [&:not(:last-child)]:xl:after:content-[''] [&:not(:last-child)]:xl:after:w-[11px] [&:not(:last-child)]:xl:after:h-[14px] [&:not(:last-child)]:xl:after:absolute [&:not(:last-child)]:xl:after:rounded-full [&:not(:last-child)]:xl:after:bg-slate-100 [&:not(:last-child)]:xl:after:top-0 [&:not(:last-child)]:xl:after:right-0 [&:not(:last-child)]:xl:after:-mr-[6px] [&:not(:last-child)]:xl:after:-mt-[28px] [&:not(:last-child)]:xl:after:dark:bg-darkmode-700 [&:not(:last-child)&gt;div]:xl:before:content-[''] [&:not(:last-child)&gt;div]:xl:before:w-[13px] [&:not(:last-child)&gt;div]:xl:before:h-[12px] [&:not(:last-child)&gt;div]:xl:before:absolute [&:not(:last-child)&gt;div]:xl:before:rounded-full [&:not(:last-child)&gt;div]:xl:before:bg-slate-200 [&:not(:last-child)&gt;div]:xl:before:bottom-0 [&:not(:last-child)&gt;div]:xl:before:right-0 [&:not(:last-child)&gt;div]:xl:before:-mr-[7px] [&:not(:last-child)&gt;div]:xl:before:-mb-[25px] [&:not(:last-child)&gt;div]:xl:before:dark:bg-darkmode-700/60 [&:not(:last-child)&gt;div]:xl:after:content-[''] [&:not(:last-child)&gt;div]:xl:after:w-[11px] [&:not(:last-child)&gt;div]:xl:after:h-[14px] [&:not(:last-child)&gt;div]:xl:after:absolute [&:not(:last-child)&gt;div]:xl:after:rounded-full [&:not(:last-child)&gt;div]:xl:after:bg-slate-50 [&:not(:last-child)&gt;div]:xl:after:bottom-0 [&:not(:last-child)&gt;div]:xl:after:right-0 [&:not(:last-child)&gt;div]:xl:after:-mr-[6px] [&:not(:last-child)&gt;div]:xl:after:-mb-[28px] [&:not(:last-child)&gt;div]:xl:after:dark:bg-darkmode-600">
                                                        <div>
                                                            <div class="flex">
                                                                <div class="flex h-[2.2rem] w-[2.2rem] items-center justify-center rounded-full border border-pending/20 bg-pending/20 text-pending">
                                                                    <i data-tw-merge="" data-lucide="credit-card" class="stroke-[1] w-5 h-5"></i>
                                                                </div>
                                                                <div class="ml-auto">
                                                                    <% if(percentOrder >=0) { %>
                                                                    <span data-placement="top" title="<%=percentOrder.toFixed(2)%>% Higher than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentOrder.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>
                                                                    <% }else {%>
                                                                     <span data-placement="top" title="<%=percentOrder.toFixed(2)%>% Lower than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentOrder.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-down" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>   
                                                                     <%   } %>                                                                </div>
                                                            </div>
                                                            <div class="mt-6 text-2xl font-medium leading-7"><%= generalReport[0].total_orders %></div>
                                                            <div class="mt-1 text-slate-500">Total Orders</div>
                                                        </div>
                                                    </div>
                                                    <div class="relative col-span-12 px-5 py-5 sm:col-span-6 xl:col-span-3 xl:py-0 [&:not(:last-child)]:xl:before:content-[''] [&:not(:last-child)]:xl:before:w-[13px] [&:not(:last-child)]:xl:before:h-[12px] [&:not(:last-child)]:xl:before:absolute [&:not(:last-child)]:xl:before:rounded-full [&:not(:last-child)]:xl:before:bg-slate-200 [&:not(:last-child)]:xl:before:top-0 [&:not(:last-child)]:xl:before:right-0 [&:not(:last-child)]:xl:before:-mr-[7px] [&:not(:last-child)]:xl:before:-mt-[25px] [&:not(:last-child)]:xl:before:dark:bg-darkmode-500 [&:not(:last-child)]:xl:after:content-[''] [&:not(:last-child)]:xl:after:w-[11px] [&:not(:last-child)]:xl:after:h-[14px] [&:not(:last-child)]:xl:after:absolute [&:not(:last-child)]:xl:after:rounded-full [&:not(:last-child)]:xl:after:bg-slate-100 [&:not(:last-child)]:xl:after:top-0 [&:not(:last-child)]:xl:after:right-0 [&:not(:last-child)]:xl:after:-mr-[6px] [&:not(:last-child)]:xl:after:-mt-[28px] [&:not(:last-child)]:xl:after:dark:bg-darkmode-700 [&:not(:last-child)&gt;div]:xl:before:content-[''] [&:not(:last-child)&gt;div]:xl:before:w-[13px] [&:not(:last-child)&gt;div]:xl:before:h-[12px] [&:not(:last-child)&gt;div]:xl:before:absolute [&:not(:last-child)&gt;div]:xl:before:rounded-full [&:not(:last-child)&gt;div]:xl:before:bg-slate-200 [&:not(:last-child)&gt;div]:xl:before:bottom-0 [&:not(:last-child)&gt;div]:xl:before:right-0 [&:not(:last-child)&gt;div]:xl:before:-mr-[7px] [&:not(:last-child)&gt;div]:xl:before:-mb-[25px] [&:not(:last-child)&gt;div]:xl:before:dark:bg-darkmode-700/60 [&:not(:last-child)&gt;div]:xl:after:content-[''] [&:not(:last-child)&gt;div]:xl:after:w-[11px] [&:not(:last-child)&gt;div]:xl:after:h-[14px] [&:not(:last-child)&gt;div]:xl:after:absolute [&:not(:last-child)&gt;div]:xl:after:rounded-full [&:not(:last-child)&gt;div]:xl:after:bg-slate-50 [&:not(:last-child)&gt;div]:xl:after:bottom-0 [&:not(:last-child)&gt;div]:xl:after:right-0 [&:not(:last-child)&gt;div]:xl:after:-mr-[6px] [&:not(:last-child)&gt;div]:xl:after:-mb-[28px] [&:not(:last-child)&gt;div]:xl:after:dark:bg-darkmode-600">
                                                        <div>
                                                            <div class="flex">
                                                                <div class="flex h-[2.2rem] w-[2.2rem] items-center justify-center rounded-full border border-warning/20 bg-warning/20 text-warning">
                                                                    <i data-tw-merge="" data-lucide="shopping-bag" class="stroke-[1] w-5 h-5"></i>
                                                                </div>
                                                                <div class="ml-auto">
                                                                <% if(percentCost >=0) { %>
                                                                    <span data-placement="top" title="<%=percentCost.toFixed(2)%>% Higher than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentCost.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>
                                                                    <% }else {%>
                                                                     <span data-placement="top" title="<%=percentCost.toFixed(2)%>% Lower than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentCost.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-down" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>   
                                                                     <%   } %>                                                                 </div>
                                                            </div>
                                                            <div class="mt-6 text-2xl font-medium leading-7">$<%= generalReport[0].total_cost.toFixed(2) %></div>
                                                            <div class="mt-1 text-slate-500">Total Costs</div>
                                                        </div>
                                                    </div>
                                                    <div class="relative col-span-12 px-5 py-5 sm:col-span-6 xl:col-span-3 xl:py-0 [&:not(:last-child)]:xl:before:content-[''] [&:not(:last-child)]:xl:before:w-[13px] [&:not(:last-child)]:xl:before:h-[12px] [&:not(:last-child)]:xl:before:absolute [&:not(:last-child)]:xl:before:rounded-full [&:not(:last-child)]:xl:before:bg-slate-200 [&:not(:last-child)]:xl:before:top-0 [&:not(:last-child)]:xl:before:right-0 [&:not(:last-child)]:xl:before:-mr-[7px] [&:not(:last-child)]:xl:before:-mt-[25px] [&:not(:last-child)]:xl:before:dark:bg-darkmode-500 [&:not(:last-child)]:xl:after:content-[''] [&:not(:last-child)]:xl:after:w-[11px] [&:not(:last-child)]:xl:after:h-[14px] [&:not(:last-child)]:xl:after:absolute [&:not(:last-child)]:xl:after:rounded-full [&:not(:last-child)]:xl:after:bg-slate-100 [&:not(:last-child)]:xl:after:top-0 [&:not(:last-child)]:xl:after:right-0 [&:not(:last-child)]:xl:after:-mr-[6px] [&:not(:last-child)]:xl:after:-mt-[28px] [&:not(:last-child)]:xl:after:dark:bg-darkmode-700 [&:not(:last-child)&gt;div]:xl:before:content-[''] [&:not(:last-child)&gt;div]:xl:before:w-[13px] [&:not(:last-child)&gt;div]:xl:before:h-[12px] [&:not(:last-child)&gt;div]:xl:before:absolute [&:not(:last-child)&gt;div]:xl:before:rounded-full [&:not(:last-child)&gt;div]:xl:before:bg-slate-200 [&:not(:last-child)&gt;div]:xl:before:bottom-0 [&:not(:last-child)&gt;div]:xl:before:right-0 [&:not(:last-child)&gt;div]:xl:before:-mr-[7px] [&:not(:last-child)&gt;div]:xl:before:-mb-[25px] [&:not(:last-child)&gt;div]:xl:before:dark:bg-darkmode-700/60 [&:not(:last-child)&gt;div]:xl:after:content-[''] [&:not(:last-child)&gt;div]:xl:after:w-[11px] [&:not(:last-child)&gt;div]:xl:after:h-[14px] [&:not(:last-child)&gt;div]:xl:after:absolute [&:not(:last-child)&gt;div]:xl:after:rounded-full [&:not(:last-child)&gt;div]:xl:after:bg-slate-50 [&:not(:last-child)&gt;div]:xl:after:bottom-0 [&:not(:last-child)&gt;div]:xl:after:right-0 [&:not(:last-child)&gt;div]:xl:after:-mr-[6px] [&:not(:last-child)&gt;div]:xl:after:-mb-[28px] [&:not(:last-child)&gt;div]:xl:after:dark:bg-darkmode-600">
                                                        <div>
                                                            <div class="flex">
                                                                <div class="flex h-[2.2rem] w-[2.2rem] items-center justify-center rounded-full border border-success/20 bg-success/20 text-success">
                                                                    <i data-tw-merge="" data-lucide="hard-drive" class="stroke-[1] w-5 h-5"></i>
                                                                </div>
                                                                <div class="ml-auto">
                                                                    <% if(percentProfit >=0) { %>

                                                                    <span data-placement="top" title="<%=percentProfit.toFixed(2)%>% Higher than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentProfit.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>
                                                                    <% }else {%>
                                                                     <span data-placement="top" title="<%=percentProfit.toFixed(2)%>% Lower than last month" class="tooltip cursor-pointer flex items-center pl-2 text-success"><%=percentProfit.toFixed(2) %>% <i data-tw-merge="" data-lucide="arrow-down" class="stroke-[1] ml-0.5 h-4 w-4"></i></span>   
                                                                     <%   } %>                                                                 </div>
                                                            </div>
                                                            <div class="mt-6 text-2xl font-medium leading-7">$<%= generalReport[0].total_profit.toFixed(2) %></div>
                                                            <div class="mt-1 text-slate-500">Total Profit</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: General Report -->
                                        <!-- BEGIN: Sales Report -->
                                        <div class="col-span-12 mt-7 md:col-span-8 lg:col-span-6">
                                            <div class="intro-y block h-10 items-center sm:flex">
                                                <h2 class="mr-5 truncate text-lg font-medium">Profit report for the most recent 12 months</h2>
                                             
                                            </div>
                                            <div class="intro-y box mt-12 p-5 sm:mt-4">
                                                <div class="items-center md:flex">
                                                    <div class="mr-auto">
                                                        <div class="flex items-center">
                                                            <div class="text-2xl font-medium">$ <%= totalProfit.profit.toFixed(2) %></div>
                                                            <div class="ml-3 flex cursor-pointer items-center text-success">
                                                                +5.2% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i>
                                                            </div>
                                                        </div>
                                                        <div class="mt-1 text-slate-500">Total profit</div>
                                                    </div>
                                                   
                                                </div>
                                                <div class="mt-6">
                                                    <div class="w-auto h-[260px]">
                                                        <canvas class="chart report-line-chart-1"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Sales Report -->
                                        <!-- BEGIN: Top Countries -->
                                        <div class="col-span-12 mt-4 md:col-span-4 md:mt-7 lg:col-span-3">
                                            <div class="intro-y flex h-10 items-center">
                                                <h2 class="mr-5 truncate text-lg font-medium">Top Customers</h2>
                                                <a class="ml-auto truncate text-slate-500" href="#">View More</a>
                                            </div>
                                            <div class="intro-y box mt-4 p-5">
                                                <% topTenCustomers.forEach(customer => { %>
                                                <div class="mb-5 flex items-center last:mb-0">
                                                   
                                                    <div class="ml-3 truncate pr-5"><%= customer.customer_name %></div>
                                                    <div class="ml-auto">$ <%= customer.round %></div>
                                                </div>
                                               <%  }); %>
                                            </div>
                                        </div>
                                        <!-- END: Top Countries -->
                                     
                                    
                                        <!-- BEGIN: Seller Report -->
                                        <div class="col-span-12 mt-4 lg:col-span-9">
                                            <div class="intro-y block h-10 items-center sm:flex">
                                                <h2 class="mr-5 truncate text-lg font-medium">Seller Report</h2>
                                                
                                            </div>
                                            <div class="intro-y box mt-12 p-5 sm:mt-4">
                                                <div>
                                                    <div class="items-center sm:flex">
                                                        <div class="mr-auto">
                                                            <div class="flex items-center">
                                                                <div class="text-2xl font-medium">24.112</div>
                                                                <div class="ml-3 flex cursor-pointer items-center text-danger">
                                                                    -2.5% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i>
                                                                </div>
                                                            </div>
                                                            <div class="mt-1 text-slate-500">New Transactions</div>
                                                        </div>
                                                        <ul data-tw-merge="" role="tablist" class="p-0.5 border dark:border-darkmode-400 w-full flex mt-3 rounded-[0.6rem] border-slate-200 bg-white shadow-sm sm:mt-0 sm:w-64">
                                                            <li id="example-3-tab" data-tw-merge="" role="presentation" class="focus-visible:outline-none flex-1 bg-slate-50 first:rounded-l-[0.6rem] last:rounded-r-[0.6rem] [&[aria-selected='true']_button]:text-current">
                                                                <button data-tw-merge="" data-tw-target="#example-3" role="tab" class="cursor-pointer block appearance-none px-3 border border-transparent transition-colors dark:text-slate-400 [&.active]:text-slate-700 py-1.5 dark:border-transparent [&.active]:border [&.active]:shadow-sm [&.active]:font-medium [&.active]:border-slate-200 [&.active]:bg-white [&.active]:dark:text-slate-300 [&.active]:dark:bg-darkmode-400 [&.active]:dark:border-darkmode-400 active w-full whitespace-nowrap rounded-[0.6rem] text-slate-500">Daily</button>
                                                            </li>
                                                            <li id="example-4-tab" data-tw-merge="" role="presentation" class="focus-visible:outline-none flex-1 bg-slate-50 first:rounded-l-[0.6rem] last:rounded-r-[0.6rem] [&[aria-selected='true']_button]:text-current">
                                                                <button data-tw-merge="" data-tw-target="#example-4" role="tab" class="cursor-pointer block appearance-none px-3 border border-transparent transition-colors dark:text-slate-400 [&.active]:text-slate-700 py-1.5 dark:border-transparent [&.active]:border [&.active]:shadow-sm [&.active]:font-medium [&.active]:border-slate-200 [&.active]:bg-white [&.active]:dark:text-slate-300 [&.active]:dark:bg-darkmode-400 [&.active]:dark:border-darkmode-400 w-full whitespace-nowrap rounded-[0.6rem] text-slate-500">Weekly</button>
                                                            </li>
                                                            <li id="example-5-tab" data-tw-merge="" role="presentation" class="focus-visible:outline-none flex-1 bg-slate-50 first:rounded-l-[0.6rem] last:rounded-r-[0.6rem] [&[aria-selected='true']_button]:text-current">
                                                                <button data-tw-merge="" data-tw-target="#example-5" role="tab" class="cursor-pointer block appearance-none px-3 border border-transparent transition-colors dark:text-slate-400 [&.active]:text-slate-700 py-1.5 dark:border-transparent [&.active]:border [&.active]:shadow-sm [&.active]:font-medium [&.active]:border-slate-200 [&.active]:bg-white [&.active]:dark:text-slate-300 [&.active]:dark:bg-darkmode-400 [&.active]:dark:border-darkmode-400 w-full whitespace-nowrap rounded-[0.6rem] text-slate-500">Monthly</button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="tab-content mt-5">
                                                        <div data-transition="" data-selector=".active" data-enter="transition-[visibility,opacity] ease-linear duration-150" data-enter-from="!p-0 !h-0 overflow-hidden invisible opacity-0" data-enter-to="visible opacity-100" data-leave="transition-[visibility,opacity] ease-linear duration-150" data-leave-from="visible opacity-100" data-leave-to="!p-0 !h-0 overflow-hidden invisible opacity-0" id="example-3" role="tabpanel" aria-labelledby="example-3-tab" class="tab-pane active">
                                                            <div class="overflow-x-auto overflow-y-hidden rounded-lg">
                                                                <table data-tw-merge="" class="w-full text-left -mb-1 table">
                                                                    <thead data-tw-merge="" class="">
                                                                        <tr data-tw-merge="" class="[&:nth-of-type(odd)_td]:bg-slate-100 [&:nth-of-type(odd)_td]:dark:bg-darkmode-300 [&:nth-of-type(odd)_td]:dark:bg-opacity-50">
                                                                            <th  data-tw-merge="" class="font-medium px-5 py-3 border-b-2 dark:border-darkmode-300 !font-normal text-slate-500">
                                                                                #
                                                                            </th>
                                                                            <th id="1" data-tw-merge="" class="font-medium px-5 py-3 border-b-2 dark:border-darkmode-300 text-right !font-normal text-slate-500">
                                                                                TODAY
                                                                            </th>
                                                                            <th id="2" data-tw-merge="" class="font-medium px-5 py-3 border-b-2 dark:border-darkmode-300 text-right !font-normal text-slate-500">
                                                                                YESTERDAY
                                                                            </th>
                                                                            <th data-tw-merge="" class="font-medium px-5 py-3 border-b-2 dark:border-darkmode-300 text-right !font-normal text-slate-500">
                                                                                %CHANGE
                                                                            </th>
                                                                            <th data-tw-merge="" class="font-medium px-5 py-3 border-b-2 dark:border-darkmode-300 text-center !font-normal text-slate-500">
                                                                                YTD
                                                                                TREND
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr data-tw-merge="" class="[&:nth-of-type(odd)_td]:bg-slate-100 [&:nth-of-type(odd)_td]:dark:bg-darkmode-300 [&:nth-of-type(odd)_td]:dark:bg-opacity-50">
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 whitespace-nowrap text-slate-500">
                                                                                TOTAL
                                                                                REVENUE
                                                                            </td>
                                                                            <td id = "current_revenue" data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right text-success">
                                                                                231.152
                                                                            </td>
                                                                            <td id ="last_revenue" data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right">
                                                                                131.152
                                                                            </td>
                                                                            <td  data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-success">
                                                                                <div id="revenue_change_percent" class="flex items-center justify-end">
                                                                                    +41.% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i>
                                                                                </div>
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 flex justify-center">
                                                                                <div class="-my-2.5 -mr-4 w-48">
                                                                                    <div class="w-auto h-[49px]">
                                                                                        <canvas class="chart report-line-chart-2"></canvas>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr data-tw-merge="" class="[&:nth-of-type(odd)_td]:bg-slate-100 [&:nth-of-type(odd)_td]:dark:bg-darkmode-300 [&:nth-of-type(odd)_td]:dark:bg-opacity-50">
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 whitespace-nowrap text-slate-500">
                                                                                TOTAL
                                                                                ORDER
                                                                            </td>
                                                                            <td id="current_order" data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right text-danger">
                                                                                $612
                                                                            </td>
                                                                            <td id="last_order" data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right">
                                                                                $413
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-danger">
                                                                                <div id="order_change_percent" class="flex items-center justify-end">
                                                                                    -2% <i data-tw-merge="" data-lucide="arrow-down" class="stroke-[1] ml-0.5 h-4 w-4"></i>
                                                                                </div>
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 flex justify-center">
                                                                                <div class="-my-2.5 -mr-4 w-48">
                                                                                    <div class="w-auto h-[49px]">
                                                                                        <canvas class="chart report-line-chart-2"></canvas>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr data-tw-merge="" class="[&:nth-of-type(odd)_td]:bg-slate-100 [&:nth-of-type(odd)_td]:dark:bg-darkmode-300 [&:nth-of-type(odd)_td]:dark:bg-opacity-50">
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 whitespace-nowrap text-slate-500">
                                                                                AVG. PER
                                                                                CUSTOMER
                                                                            </td>
                                                                            <td id="currentAvgPerCustomer" data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right text-success">
                                                                                $22.5
                                                                            </td>
                                                                            <td id="lastAvgPerCustomer" data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right">
                                                                                $18.5
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-success">
                                                                                <div class="flex items-center justify-end">
                                                                                    +51% <i data-tw-merge="" data-lucide="arrow-up" class="stroke-[1] ml-0.5 h-4 w-4"></i>
                                                                                </div>
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 flex justify-center">
                                                                                <div class="-my-2.5 -mr-4 w-48">
                                                                                    <div class="w-auto h-[49px]">
                                                                                        <canvas class="chart report-line-chart-2"></canvas>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr data-tw-merge="" class="[&:nth-of-type(odd)_td]:bg-slate-100 [&:nth-of-type(odd)_td]:dark:bg-darkmode-300 [&:nth-of-type(odd)_td]:dark:bg-opacity-50">
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 whitespace-nowrap text-slate-500">
                                                                                AVG. PER
                                                                                SELLER
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right text-danger">
                                                                                $22.5
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-right">
                                                                                $10.5
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 text-danger">
                                                                                <div class="flex items-center justify-end">
                                                                                    +21% <i data-tw-merge="" data-lucide="arrow-down" class="stroke-[1] ml-0.5 h-4 w-4"></i>
                                                                                </div>
                                                                            </td>
                                                                            <td data-tw-merge="" class="px-5 py-3 border-b dark:border-darkmode-300 flex justify-center">
                                                                                <div class="-my-2.5 -mr-4 w-48">
                                                                                    <div class="w-auto h-[49px]">
                                                                                        <canvas class="chart report-line-chart-2"></canvas>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Seller Report -->
                                        <!-- BEGIN: Seller Report -->
                                        <div class="col-span-12 mt-4 sm:col-span-6 sm:row-start-4 md:row-start-3 lg:col-span-3 lg:row-start-auto">
                                            <div class="intro-y flex h-10 items-center">
                                                <h2 class="mr-5 truncate text-lg font-medium">Seller Report</h2>
                                                <a class="ml-auto truncate text-slate-500" href="#">View More</a>
                                            </div>
                            
                                            <div class="intro-y box mt-4 p-5">
                                                <div class="relative px-3">
                                                    <div class="mx-auto w-40 lg:w-auto">
                                                        <div class="w-auto h-[210px]">
                                                            <canvas class="chart report-donut-chart-1 relative z-10 mt-2"></canvas>
                                                        </div>
                                                    </div>
                                                    <div class="absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center">
                                                        <div class="text-2xl font-medium leading-7"><%= sumOfCustomers %></div>
                                                        <div class="mt-1 text-slate-500">Total Customers</div>
                                                    </div>
                                                </div>
                                                <div class="mx-auto mt-6 w-52 lg:w-auto">
                                                    <div class="flex items-center">
                                                        <div class="mr-3 h-2 w-2 rounded-full border border-theme-1/50 bg-theme-1/50"></div>
                                                        <span class="truncate"><%=Labels[2]%> Years old</span>
                                                        <span class="ml-auto"><%=Data[2]%>%</span>
                                                    </div>
                                                    <div class="mt-4 flex items-center">
                                                        <div class="mr-3 h-2 w-2 rounded-full border border-warning/60 bg-warning/50"></div>
                                                        <span class="truncate"><%=Labels[1]%> Years old</span>
                                                        <span class="ml-auto"><%=Data[1]%>%</span>
                                                    </div>
                                                    <div class="mt-4 flex items-center">
                                                        <div class="mr-3 h-2 w-2 rounded-full border border-pending/50 bg-pending/50"></div>
                                                        <span class="truncate"><%=Labels[0]%> Years old</span>
                                                        <span class="ml-auto"><%=Data[0]%>%</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END: Seller Report -->
                                  
                                    </div>
                                </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

<!-- Mirrored from rocketman-html.vercel.app/lucent-dashboard-overview-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 10 Mar 2024 03:29:25 GMT -->
</html>