
<% if(session.cart) { %>
<div class="breadcrumb">
	<div class="container">
		
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content outer-top-xs">
	<div class="container">
		<div class="row ">
			<div class="shopping-cart">
				<div class="shopping-cart-table ">
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th class="cart-romove item">Remove</th>
					<th class="cart-description item">Image</th>
					<th class="cart-product-name item">Product Name</th>
					<th class="cart-sub-total item">Quantity</th>
					<th class="cart-sub-total item">Subtotal</th>
					<th class="cart-total last-item">Grandtotal</th>
				</tr>
			</thead><!-- /thead -->
			<tfoot>
				<tr>
					<td colspan="7">
						<div class="shopping-cart-btn">
							<span class="">
								<a href="/" class="btn btn-upper btn-primary outer-left-xs">Continue Shopping</a>
								<a href="/" class="btn btn-upper btn-primary pull-right outer-right-xs">Update shopping cart</a>
							</span>
						</div><!-- /.shopping-cart-btn -->
					</td>
				</tr>
			</tfoot>
			<tbody>
				<% let Grandtotal =0 ; TotalQuantity = 0   %>
				<% for(let product of Object.values(session.cart.items)) { %>
			
					<% Grandtotal += product.item.price *product.qty ; TotalQuantity += product.qty %>
				<tr>
					<td class="romove-item"><a href="#" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
					<td class="cart-image">
						<a class="entry-thumbnail" href="detail.html">
						    <img src="<%= product.item.image  %>" alt="">
						</a>
					</td>

					<td class="cart-product-name-info">
						<h4 class='cart-product-description'><a href="detail.html"><%= product.item.name %></a></h4>
						<div class="row">
							<div class="col-sm-4">
								<div class="rating rateit-small"></div>
							</div>
							<div class="col-sm-8">
							
							</div>
						</div><!-- /.row -->
						<div class="cart-product-info">
											<span class="product-color">COLOR:<span><%= product.item.color  %></span></span>
						</div>
					</td>
				
					<td class="cart-product-sub-total"><span class="cart-sub-total-price"><%= product.qty  %> </span></td>

					<td class="cart-product-sub-total"><span class="cart-sub-total-price">$<%= product.item.price  %> </span></td>
					<td class="cart-product-grand-total"><span class="cart-grand-total-price">$<%= product.item.price *product.qty  %></span></td>
			</tr>
				<% }; %> 
			</tbody><!-- /tbody -->
		</table><!-- /table -->
	</div>
</div><!-- /.shopping-cart-table -->
<% if(user){  %>
<form action="/order" method="post">	
<div class="col-md-4 col-sm-12 estimate-ship-tax">
	<table class="table">
		<thead>
			<tr>
				<th>
					<span class="estimate-title">Estimate shipping and tax</span>
					<p>Enter your destination to get shipping and tax.</p>
				</th>
			</tr>
		</thead><!-- /thead -->
		<tbody>
				<tr>
					<td>
						<div class="form-group" >
							<label class="info-title control-label">Address:</label>
							<input name="address"  type="text" class="form-control unicase-form-control text-input" placeholder="" value="<%= user.address %>">
						</div>
						<div class="form-group">
							<label class="info-title control-label">Phone number: </label>
							<input name="phone_number" type="text" class="form-control unicase-form-control text-input" placeholder="" value="<%= user.phone_number  %>">
						</div>
					</td>
				</tr>
		</tbody>
	</table>
</div><!-- /.estimate-ship-tax -->
<div class="col-md-4 col-sm-12 cart-shopping-total">
	
	<table class="table">
		<thead>
			<tr>
				<th>
					<div class="cart-sub-total">
						Total Quantity<span class="inner-left-md"><%= TotalQuantity  %></span>
					</div>
					<div class="cart-grand-total">
						Grand Total<span class="inner-left-md">$<%= Grandtotal    %></span>
					</div>
				</th>
			</tr>
		</thead><!-- /thead -->
		<tbody>
				<tr>
					<td>
						<div class="cart-checkout-btn pull-right">
							<button type="submit" class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</button>
							<span class="">Checkout with multiples address!</span>
						</div>
					</td>
				</tr>
		</tbody><!-- /tbody -->
	</table><!-- /table -->
</div><!-- /.cart-shopping-total --></form>		<%}else{ %>
	<a href="/login"
                class="inline-block cursor-pointer btn-primary px-6 py-2 rounded-full text-white font-bold mt-6">Login
                to continue</a>

<%}   %> 	
	</div><!-- /.shopping-cart -->
		</div> <!-- /.row -->
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
<div id="brands-carousel" class="logo-slider wow fadeInUp">

		<div class="logo-slider-inner">	
			<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
				<div class="item m-t-15">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item m-t-10">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand3.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand6.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand2.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand4.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand1.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->

				<div class="item">
					<a href="#" class="image">
						<img data-echo="assets/images/brands/brand5.png" src="assets\images\blank.gif" alt="">
					</a>	
				</div><!--/.item-->
		    </div><!-- /.owl-carousel #logo-slider -->
		</div><!-- /.logo-slider-inner -->
	
</div><!-- /.logo-slider --><%}else { %>
				<div class="empty-cart py-16">
					<div class="container mx-auto text-center">
						<h1 class="text-3xl font-bold mb-2">Cart Empty 😕</h1>
						<p class="text-gray-500 text-lg mb-12">You probably haven't ordered a product yet. <br>
							To order a product, go to the main page.</p>
						<img class="w-2/5 mx-auto" style="width: 400px;" src="image/img/empty-cart.png" alt="empty-cart">
						<a href="/" class="inline-block px-6 py-2 rounded-full btn-primary text-white font-bold mt-12">Go back</a>
					</div>
				</div>
				<%}%>
			<br>
<!-- ============================================== BRANDS CAROUSEL : END ============================================== -->	</div><!-- /.container -->
</div><!-- /.body-content -->

